@import '/src/shared/scss/_variables.scss';

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 25px;

  .icon_sort {
    font-size: 24px;
    margin-left: 6px;
    opacity: 0.5;
    cursor: pointer;
    transition: all $duration;
    transform: rotateX(0deg);

    &:hover {
      opacity: 1;
    }
  }

  .icon_sort_rotate {
    transform: rotateX(180deg)
  }

  .scrollable_box {
    max-height: calc(100vh - 120px);
    overflow: auto;
    margin-top: 22px;
    padding: 0 16px;
    border: 1px solid rgba(140, 140, 140, 0.35);
    border-radius: 2px;
  }

  .flex_dir_reverse {
    display: flex;
    flex-direction: column-reverse !important;
  }
}